<ul class="nav nav-tabs nav-stacked">
    <li class="{{ menu_create }}"><a href="{% url money:currency:create %}">Add a new currency</a></li>
    <li class="{{ menu_list }}"><a href="{% url money:currency:list %}">List of currencies</a></li>
    {% if object %}
        <li class="{{ menu_update }}"><a
                href="{% url money:currency:update object.pk %}">Edit this currency</a></li>
        <li class="{{ menu_delete }}"><a
                href="{% url money:currency:delete object.pk %}">Delete this currency</a></li>
    {% endif %}
</ul>
