{% if form.non_field_errors %}
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ form.non_field_errors }}
    </div>
{% endif %}


{% for field in form.visible_fields %}
    <div class="control-group
        {% if field.is_required %}required{% endif %}
        {% if field.errors %}error{% endif %}">

        <label class="control-label"
               for="{{ field.auto_id }}">{{ field.field.label }}</label>

        <div class="controls">
            {{ field }}
            {% for error in field.errors %}
                <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>

    </div>
{% endfor %}


{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}


{% csrf_token %}


<input type="hidden" name="next" value="{{ next }}"/>


<script type="text/javascript ">
    $(document).ready(function () {
        $('input,select,textarea').first().focus();
    })
</script>
