{% extends "registration/base.html" %}

{% block content %}
    <form action="." method="post" class="form-horizontal">
        {% include "registration/form.html" %}
        <div class="form-actions">
            <button type="submit" class="btn">Reset password</button>
        </div>
    </form>
{% endblock %}

{% block sidebar %}
    <div class="well">
        <p>Type your e-mail address and follow instructions.</p>
    </div>
{% endblock %}

{% block title %}
    Password reset form
    |
    {{ block.super }}
{% endblock %}
