{% extends "registration/base.html" %}

{% block content %}
    <form action="." method="post" class="form-horizontal">
    <legend>
        Password change form
    </legend>
        {% include "form.html" %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                <i class="icon-ok icon-white"></i>
                Change password
            </button>
        </div>
    </form>
{% endblock %}

{% block sidebar %}
    <div class="well">
        <p>A good password is:</p>
        <ul>
            <li>private: it is used and known by one person only;</li>
            <li>secret: it does not appear in clear text in any file or program
                or on a piece of paper pinned to the monitor;
            </li>
            <li>easily remembered: so there is no need to write it down;</li>
            <li>at least 8 characters long;</li>
            <li>a mixture of at least 3 of the following: upper case letters,
                lower case letters, digits and symbols;
            </li>
            <li>not listed in a dictionary of any major language;</li>
            <li>not guessable by any program in a reasonable time, for instance
                less than one week.
            </li>
        </ul>
    </div>
{% endblock %}

{% block title %}
    Password change
    |
    {{ block.super }}
{% endblock %}
