{% extends "registration/base.html" %}

{% block content %}
    <form action="." method="post" class="form-horizontal">
        <legend>
            Password reset confirm
        </legend>
        {% include "form.html" %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                <i class="icon-ok icon-white"></i>
                Change password
            </button>
        </div>
    </form>
{% endblock %}

{% block sidebar %}
    <div class="well">
        <p>Type your new password.</p>
    </div>
{% endblock %}

{% block title %}
    Password reset confirm
    |
    {{ block.super }}
{% endblock %}
