{% extends "registration/base.html" %}

{% block content %}
    <form action="." method="post" class="form-horizontal">
        {% include "registration/form.html" %}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Sing in</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block sidebar %}
    <ul>
        <li><strong>Not yet registered?</strong> <a
                href="{% url registration_register %}">Registration</a>
            will take a few steps a couple of minutes.
        </li>
        <li><strong>Forgot account password?</strong> Please use
            <a href="{% url auth_password_reset %}">password
                recovery form</a>.
        </li>
    </ul>
{% endblock %}

{% block title %}
    Log in
    |
    {{ block.super }}
{% endblock %}
