{% extends "registration/base.html" %}

{% block clontent %}
    <form action="." method="post" class="form-horizontal">
        {% include "registration/form.html" %}
        <div class="control-group">
            <div class="controls">
                <button class="btn" type="submit">Change password</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block sidebar %}
    <div class="well">
        <p>Type your new password.</p>
    </div>
{% endblock %}

{% block title %}
    Password reset confirm
    |
    {{ block.super }}
{% endblock %}
