{% extends "registration/base.html" %}

{% block content %}
    <form action="." method="post" class="form-horizontal">
        {% include "registration/form.html" %}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Reset password</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block sidebar %}
    <p>Type your e-mail address and follow instructions.</p>
{% endblock %}

{% block title %}
    Password reset form
    |
    {{ block.super }}
{% endblock %}
