{% extends "registration/base.html" %}

{% block content %}
    <form action="." method="post" class="form-horizontal">
        {% include "registration/form.html" %}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Register</button>
            </div>
        </div>

    </form>
{% endblock %}

{% block sidebar %}
    <div class="well">
        <ul>
            <li>Already registered? Just use <a href="{% url auth_login %}">log
                in form</a>.
            </li>
            <li>Forgot account password? Try
                <a href="{% url auth_password_reset %}">password
                recovery form</a>.
            </li>
        </ul>
    </div>
{% endblock %}
