{% extends "money/transaction_base.html" %}

{% block content %}
    <form action="." method="post" class="form-horizontal span8 offset2">
    <legend>
        Transaction form
    </legend>
        {% include "form.html" %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                <i class="icon-ok icon-white"></i>
                Save transaction
            </button>
            <button type="reset" class="btn">
                <i class="icon-remove"></i>
                Reset form
            </button>
        </div>
    </form>
{% endblock %}

{% block sidebar %}
    {% if object %}
        {% include "money/transaction_menu.html" with menu_update="active" %}
    {% else %}
        {% include "money/transaction_menu.html" with menu_create="active" %}
    {% endif %}
{% endblock %}
