{% load field_attributes %}
{% if form.non_field_errors %}
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ form.non_field_errors }}
    </div>
{% endif %}


{% for field in form.visible_fields %}
    <div class="control-group
        {% if field.is_required %}required{% endif %}
        {% if field.errors %}error{% endif %}">

        {% if field|is_widget:"CheckboxInput" %}
            <div class="controls">
                <label class="checkbox">
                    {{ field }}
                    {{ field.field.label }}
                </label>
            </div>
        {% else %}
            <label class="control-label" for="{{ field.auto_id }}">
                {{ field.field.label }}
            </label>
            <div class="controls">
                {% field field class="span12" placeholder=field.help_text required=field.field.required %}
                {% for error in field.errors %}
                    <span class="help-inline">{{ field.errors }}</span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endfor %}


{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}


{% csrf_token %}


<input type="hidden" name="next" value="{{ next }}" />


<script type="text/javascript ">
    $(document).ready(function () {
        $('input,select,textarea').first().focus();
    })
</script>
