from settings_base import *

DEBUG = True
TEMPLATE_DEBUG = DEBUG


INTERNAL_IPS = (
    '127.0.0.1',
)

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3', # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': join(PROJECT_ROOT, 'database.db'),                      # Or path to database file if using sqlite3.
        'USER': '',                      # Not used with sqlite3.
        'PASSWORD': '',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

# Dump all emails to console so we don't risk sending emails
# when using production data
EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'

# Uncomment the following two lines to enable django-debug-toolbar:
INSTALLED_APPS += ('debug_toolbar', 'django_extensions',)
MIDDLEWARE_CLASSES += ('debug_toolbar.middleware.DebugToolbarMiddleware',)


DEBUG_TOOLBAR_CONFIG = {
   'INTERCEPT_REDIRECTS' : False,
}


# Uncomment the following to enable devserver, see default settings below
# INSTALLED_APPS += ('devserver',)

CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.dummy.DummyCache',
    }
}
