{% extends "money/transaction_base.html" %}

{% block content %}
    <div class="alert alert-block">
        <h4>Warning!</h4>
        Do you really wanna <strong>delete</strong> transaction
        «<strong>{{ object }}</strong>»?
    </div>
    <form action="." method="post">
        {% csrf_token %}
        <a class="btn btn-success" href="{% url money:transaction:detail object.pk %}">No,
            thanks!</a>
        <button class="btn btn-danger" type="submit">Yes, delete it!</button>
    </form>
{% endblock %}

{% block sidebar %}
    {% include "money/transaction_menu.html" with menu_delete="active" %}
{% endblock %}
