<ul class="nav">
    <li class="{{ menu_wallets }}"><a
            href="{% url money:wallet:list %}">Wallets</a></li>
    <li class="{{ menu_transactions }}"><a
           href="{% url money:transaction:list %}">Transactions</a></li>
    <li class="{{ menu_templates }}"><a
           href="{% url money:template:list %}">Templates</a></li>
    <li class="{{ menu_currencies }}"><a
           href="{% url money:currency:list %}">Currencies</a></li>
</ul>
<ul class="nav pull-right">
    {% if user.is_authenticated %}
        <li><a href="{% url auth_password_change %}"><i class="icon-user"></i>{{ user }}</a></li>
        <li><a href="{% url auth_logout %}">Log out</a></li>
    {% else %}
        <li><a href="{% url auth_login %}">Login</a></li>
        <li><a href="{% url registration_register %}">Register</a></li>
    {% endif %}
</ul>
